.todo {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.todo__title {
  font-weight: bold;
  z-index: 2;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  /* border: 2px solid rgb(137, 188, 255); */
  background-color: #525252;
  box-shadow: 0px 0 6px 2px #8c8c8c;
  /* border-radius: 0.5rem; */
  padding: 0.2rem;

  position: absolute;

  top: 3%;
  margin: auto;
  left: 0;
  right: 0;
}
.todo__add {
  z-index: 3;
  position: absolute;
  top: 3%;
  left: 5px;
  cursor: pointer;
  transition: all 70ms ease-in-out;
  background-color: #525252;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 33px;
}

.todo__sort {
  z-index: 3;
  position: absolute;
  top: 3%;
  right: -2px;
  cursor: pointer;
  transition: all 70ms ease-in-out;
  background-color: #525252;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 33px;
}

.todo__sort:active,
.todo__add:active {
  transform: scale(3);
}

.todo__cards {
  padding: 4rem 0.5rem 0rem 0.5rem;
  height: 100%;
  /* border: 1px solid red; */
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.todo__cards::-webkit-scrollbar {
  width: 4px;
}

.todo__cards::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #525252;
}

.imageContainer > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 0.6;
}

.imageContainer {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  animation: cardEntry 200ms ease-in-out;
}

@keyframes cardEntry {
  from {
    /* transform: scale(0.4); */
    opacity: 0;
  }
  to {
    /* transform: scale(1); */
    opacity: 1;
  }
}
