.header {
  padding: 0.55rem;
  /* font-size: 2rem; */
  background-color: #699bf7;
  color: white;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 6px 2px #bdbdbd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div > p {
  font-size: 18px;
  /* font-weight: bold; */
}
.header > p {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
  color: #525252;
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 6px -1px #304173;
}

.header > p:active {
  box-shadow: 1px 1px 4px -1px #304173;
  background-color: rgb(241, 241, 241);
}

.imageContainerHeader img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border: 3px solid rgb(36, 36, 36); */
}

.imageContainerHeader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 5px;
  z-index: 3;
  background-color: white;
  /* box-shadow: 1px 3px 6px 2px #797979; */
  /* animation: savingAnimation 1s ease-in-out infinite; */
}

.header > div {
  position: relative;
}

.saving {
  position: absolute;
  width: 55px;
  height: 55px;
  z-index: 2;
  border-radius: 50%;
  top: -3px;
  left: 2px;
  /* background-color: #ff3300; */
  background-color: #ff3c00;
  background-image: linear-gradient(315deg, #ff3c00 0%, #f7b189 70%);
  animation: savingAnimation 800ms linear infinite;
}

.reset__modal {
  background-color: white;
  width: fit-content;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  margin: auto;
  margin-top: 10%;
}

.reset__modal p {
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
}

.reset__modal__btns {
  display: flex;
  justify-content: space-around;
}

@keyframes savingAnimation {
  from {
    /* border: 3px solid greenyellow; */
    transform: rotate(0deg);
  }
  to {
    /* border: none; */
    transform: rotate(360deg);
  }
}

@media (max-width: 650px) {
  .header {
    padding: 0.2rem;
    /* flex-direction: column; */
  }

  .header > div > p {
    font-size: 16px;
    display: none;
    /* font-weight: bold; */
  }

  .imageContainerHeader {
    height: 40px;
    width: 40px;
  }

  .saving {
    width: 45px;
    height: 45px;
  }

  .header > p {
    font-size: 16px;
    padding: 0.2rem;
    border-radius: 0.2rem;
  }

  .header .MuiButtonBase-root {
    font-size: 13px;
    padding: 0;
    text-transform: none;
  }

  .reset__modal {
    width: 90%;
    /* margin: 10px; */
    margin-top: 40%;
  }
}
