.App {
  text-align: center;
}

.App__body {
  display: flex;
  width: 85%;
  margin: auto;
  height: 90vh;
}

.App__body > * {
  background-color: #dfe6ee;
  height: 100%;
  /* border: 2px solid #b6b6cc; */
  margin: 0 0.3rem;
  padding: 1rem;
  border-radius: 0.2rem;
  /* overflow-y: scroll !important; */
  /* height: 95%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .App__body {
    width: 100%;
  }
}
